%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.
{deps_dir, ["deps"]}.
{erl_opts, [debug_info]}.

{deps, [
            {webmachine, ".*", {git, "git://github.com/dhq314/webmachine.git", "master"}},
            {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}},
            {egeoip, ".*", {git, "git://github.com/mochi/egeoip.git", "master"}}
        ]
}.
