%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.
{deps_dir, ["deps"]}.
{erl_opts, [debug_info]}.

{deps, [
            {webmachine, "1.9.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
            {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}},
            {egeoip, ".*", {git, "git://github.com/mochi/egeoip.git", "master"}},
            {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", "master"}},
            {erlsom, ".*", {git, "git://github.com/willemdj/erlsom.git", "master"}}
        ]
}.
