%%-*- mode: erlang -*-

{sub_dirs, ["rel"]}.

{deps_dir, ["deps"]}.

{erl_opts,
    [
        {src_dirs, ["src"]},
%%         warn_export_all,
        warn_shadow_vars,
        warn_bif_clash,
        warn_unused_vars,
        warn_unused_import,
        warn_unused_function,
        warn_unused_record,
%%         warn_untyped_record,
        warn_deprecated_function,
        warn_obsolete_guard,
        strict_validation,
%%         warn_export_vars,
        warn_exported_vars,
        debug_info,
        warnings_as_errors
    ]
}.

{dialyzer_opts,
    [
        {warnings, [
            unmatched_returns,
            error_handling,
            race_conditions,
            behaviours
        ]}
    ]
}.

{xref_checks,
    [
        undefined_function_calls,
        undefined_functions,
        locals_not_used,
        exports_not_used,
        deprecated_function_calls,
        deprecated_functions
    ]
}.

{deps, [
            {webmachine, ".*", {git, "git://github.com/dhq314/webmachine.git", "master"}},
            {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}},
            {egeoip, ".*", {git, "git://github.com/mochi/egeoip.git", "master"}}
        ]
}.
